.title{
    width:100%;
    text-align:center;
    background-color:blue;
    background-image: url(https://media.candystore.com/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/p/e/peppermint-twists.jpg);
    opacity: .5;
    padding: 1%;
    font-size: 30px;
}

header{
    color: black;
}

.navbar{
    position: fixed;
    padding: 1%;
    width: 100%;
    background-color:darkblue;
    text-align:center;
    font-size: 40px;
}

.item{
    display:inline-block;
    width: 25%;
    border: solid 1px black;
    margin: 2%;
}

.footer{
    width:100%;
    text-align:center;
    background-color:blue;
}
